@import url('https://fonts.cdnfonts.com/css/gasterye');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1555252333-9f8e92e65df9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-repeat: no-repeat;
    background-size: cover;

}
.cbz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 5px 10%;
    background-color: #ffe1ee;
}
.cbz.logo{
    height: 60px;
    width: auto;
    
    
}
.logme {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    
}
nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
}

nav ul li a {
    display: inline-block;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 22px;
    color: #646064;
    text-decoration: none;
  
}

h1{
    font-family: 'Gasterye Bold', sans-serif;
    font-size: 350px;
    color: #00b0ff;
    text-align: center;
    text-shadow: rgb(10, 10, 10) 2px 2px 3px;
}
h1:hover{
    color: #ff6961;

}
.btn{
    width: 150px;
    display: block;
    background-color:#00b0ff;
    text-decoration: none;
    color:#9bfae0;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    
}
.btn:hover{
    
    background-color: #ff6961;
    color: blanchedalmond;
   
   }

.sec1 {
   display: flex;
}

.izquierda{
    background: #fffff1;
    height: 100vh;
    width: 50%;
   
}
.derecha{
    background: url(https://images.unsplash.com/photo-1582486225644-aeacf6aa0b1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;

}  
.letra1 {
    color: #ff97d9;
}

h2{
    color: #2196f3;
    font-size: 75px;
    width: 50%;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 40px;
}
h3{
    margin: center;
    margin-left: 250px;
    color: #2196f3;
    font-size:30px;
    
   
}
.text{
    font-size: 19px;
    line-height: 30px;
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    padding: 25px;
    
}
.bt{
    width: 150px;
    border: 2px solid #2196f3;
    padding: 10px;
    text-decoration: none;
    color: #6664ff;
    border-radius: 10px;
    background-color: #fcc0e6;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;

}
.link{
    text-align: center;
}
.sec2{
    width:100%;
    height: 25vh;
    background-color:#ffbfb0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.te1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    color: #f8f5f6;
    padding: 75px;
    text-align: justify;
}
.sec3{
    display: flex;
    width:100%;
    height: 100vh;
    background-color: #4afde7;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-infantil-coloridas-nubes-planas_360032-1574.jpg?w=1060);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.bosito{
    width: 600px;
    height: 450px;
    margin: auto;
}


.sec4{
    width:100%;
    height: 25vh;
    
    background-color:#f79fbe;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sec5{
    width:100%;
    height: 100vh;
    background-color: #b0f6f2;
    background-image: url(https://img.freepik.com/foto-gratis/confeti-estrella-brillante-sobre-fondo-acuarela-pastel-abstracto-colorido_53876-98173.jpg?w=826&t=st=1670892504~exp=1670893104~hmac=36ad50262e92595aab021fa23f227355f83eb3082d21a65bac4eedee2683ce34);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}
p{
    text-align: center;
    font-size: 19px;
}

.bbjugu{
    width:650px;
    height: 450px;
    margin: auto;

}
.sec6{
    width:100%;
    height: 25vh;
    background-color: #d0bdf6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sec7{
     display: flex;
     width: 100%;
     height: 50vh;
     margin: 0 auto;
     min-height: 100vh;
     justify-content: space-evenly;
     padding: 80px 0;
     background-color: #ffeff6;
}
.tarjeta {
    background-color: #cff5d6;
    width: 21%;
    min-height: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 32px -16px rgb(10, 10, 10);
    border-radius: 25px;
}
.card{
    height: 50%;
}
.card_img  {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.card_titulo{
    text-align: center;
    margin: 15px;
}
.btn1 {
    display: inline-block;
    background-color: #fdcae1;
    padding: 15px 30px;
    margin-top: 1em;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5%;
}
.galeria{
    width: 100%;
    overflow: hidden;
    margin:0 auto;
    background-color: #ffffec;
}
.galeria_container{
    display: flexbox;
    flex-wrap: wrap;
    gap: 20px;
    
}
.gale_text {
    color: #bc98f3;
    font-size: 2rem;
    margin-bottom: 1em;
    padding: 15px 0;
  
}
.galeria_fotos{
    margin: auto;
    min-width: 200px;
    max-width: 1200px;
    flex: 350px;
    padding-top: 25px;
    padding-left: 350px;
   
   
}
.imagen{
    
    width: 75%;
    height: 75%;
    object-fit: cover;
     
 }
footer {
    width: 100%;
    height:50vh;
    background: url(https://fondosmil.com/fondo/1938.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
   
    
}

.redes {
    

    display: flex;  
    
}

.face{
    
    width: 50px;
    height: 50px;
    margin: 30px 30px;
    margin-top: 300px;
    
   
}
.insta{
    width: 50px;
    height: 50px;
    margin: 30px 30px;
    margin-top: 300px;
  

}
.twiter{
    width: 50px;
    height: 50px;
    margin: 30px 30px;
    margin-top: 300px;
    
}
.mapa{
    margin-top: 100px;
    margin-left: 200px;
   
    
}
.fin{
    display: flex;
    text-align: justify;
   
    align-items: flex-end;
    padding-bottom: 20px;
    margin-left: 65px;
}

@media screen and (max-width: 800px){

    header{
        width: 100%;
        height: 100vh;
        background: url(https://images.unsplash.com/photo-1555252333-9f8e92e65df9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 800px;
        float: left; 
        width: 800px; 
        height: 550px;
        margin-right: 1em; 
    
    }

.cbz{
    display: flexbox;
    flex-direction: column;
    height: 175px;
    padding: 5px 10%;
    background-color: #ffe1ee;
    
}
.cbz.logo{
    height: 60px;
    width: auto;
       
}
.logme {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 35px;
    
}
.menu {
    position: relative;
}
nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;

}

nav ul li a {
    display: inline-block;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 17px;
    color: #646064;
    text-decoration: none;
    align-items: center;
     
}
h1{
    font-family: 'Gasterye Bold', sans-serif;
    font-size: 175px;
    color: #00b0ff;
    text-align: center;
    text-shadow: rgb(10, 10, 10) 2px 2px 3px;
    padding-top: 35px;
}
h1:hover{
    color: #ff6961;


}
.btn{
    width: 100px;
    display: block;
    background-color:#00b0ff;
    text-decoration: none;
    color:#9bfae0;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    
}
.btn:hover{
    
    background-color: #ff6961;
    color: blanchedalmond;
   
}
.sec1 {
    display: flexbox;
     width: 800px;
     height: 50vh;
     max-width: 800px;
     float: left; 
     width: 800px; 
     height: 550px;
 }
 .derecha{
     background: url(https://images.unsplash.com/photo-1582486225644-aeacf6aa0b1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
     background-size: cover;
     background-position: center;
     max-width: 800px;
     float: left; 
     width: 400px; 
     height: 550px;
 
 }  
 .letra1 {
     color: #ff97d9;
     font-size: 65px ;
     padding-left: 20px;
 }
 
 h2{
    
     font-size: 65px;
     width: 100%;
     margin: auto;
     padding-top: 50px;
     margin-bottom: 40px;
     color: #2196f3;
 }
 h3{
     margin: center;
     margin-left: 100px;
     color: #2196f3;
     font-size: 25px;
     
    
 }
 .text{
     font-size: 15px;
     line-height: 20px;
     width: 100%;
     margin: 0 auto;
     text-align: justify;
     padding: 25px;
     
 }
 .bt{
     width: 100px;
     border: 2px solid #2196f3;
     padding: 10px;
     text-decoration: none;
     color: #6664ff;
     border-radius: 10px;
     background-color: #fcc0e6;
     font-weight: bold;
     display: inline-block;
     margin-top: 5px;
 
 }
 .link{
     text-align: center;
 }

.sec2{
    width:100%;
    height: 20vh;
    background-color:#ffbfb0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 800px;
    float: left; 
    width: 800px; 
    
    margin-right: 1em; 
}

.te1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #f8f5f6;
    padding: 50px;
    text-align: justify;
}

.sec3{
    display: flex;
    width:100%;
    height: 100vh;
    background-color: #4afde7;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-infantil-coloridas-nubes-planas_360032-1574.jpg?w=1060);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 800px;
    float: left; 
    width: 800px; 
    height: 350px;
    margin-right: 1em;
    
}
.bosito{
    width: 400px;
    height: 250px;
    margin: auto;
}
   
.sec4{
    width:100%;
    height: 20vh;
    background-color:#f79fbe;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left; 
    width: 800px; 
    margin-right: 1em; 
}

.sec5{
    width:100%;
    height: 100vh;
    background-color: #b0f6f2;
    background-image: url(https://img.freepik.com/foto-gratis/confeti-estrella-brillante-sobre-fondo-acuarela-pastel-abstracto-colorido_53876-98173.jpg?w=826&t=st=1670892504~exp=1670893104~hmac=36ad50262e92595aab021fa23f227355f83eb3082d21a65bac4eedee2683ce34);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 800px;
    float: left; 
    width: 800px; 
    height: 350px;
    margin-right: 1em; 
}
p{
    text-align: center;
    font-size: 15px;
}


.bbjugu{
    width: 400px;
    height: 250px;
    margin: 20px 200px;
    justify-content: center;

}
.sec6{
    width:100%;
    height: 20vh;
    background-color:#d0bdf6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left; 
    width: 800px; 
    margin-right: 1em; 
}
.galeria_fotos{
    margin: auto;
    min-width: 200px;
    max-width: 1200px;
    flex: 350px;
    padding-top: 25px;
    padding-left: 250px;
}

.sec7{
    display: flex;
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    min-height: 50vh;
    justify-content: space-evenly;
    background-color: #ffeff6;
    max-width: 800px;
    float: left; 
    width: 800px; 
   
    margin-right: 1em; 

}
.tarjeta {
   background-color: #cff5d6;
   width: 18%;
   height: 4%;
   overflow: hidden;
   display: flex;
   box-shadow: 0 0 32px -16px rgb(10, 10, 10);
   border-radius: 25px;
   min-height: 200px;
   
 
   
}
.card{
   height: 25%;
}
.card_img  {
    object-fit: contain;
   width: 100%;
   height: 100px;
   display: flex;
   margin: 1px;
}
.card_titulo{
    margin-top: 55px; 
   text-align: center;
   font-size: 11px;
   
}
.btn1 {
   display: inline-block;
   background-color: #fdcae1;
   padding: 5px 3px;
   
   text-decoration: none;
   border-radius: 5%;
   font-size: 11px;
}
footer {
    width: 100%;
    height: 50vh;
    background: url(https://fondosmil.com/fondo/1938.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 800px;
    display: flex;
    float: left; 
    width: 800px; 
    height: 400px;
    margin-right: 1em;
    
}

.redes{
    display: flexbox;
    flex-direction: column;
    
    
}

.face{
    margin-top: 210px;
    margin-left: 8px;
    margin-bottom: 20px;
    padding: 3px;
    width: 35px;
    height: 35px;
    
}
.insta{
    margin-top: 15px;
    margin-left: 8px;
    margin-bottom: 10px;
    padding: 5px;
    width: 35px;
    height: 35px;

}
.twiter{
    margin-top: 15px ;
    margin-left: 8px;
    margin-bottom: 10px;
    padding: 5px;
    width: 35px;
    height: 35px;
}
iframe {
    display: flex;
}
.mapa{
   margin: auto;
    width: 250px; 
    height: 200px; 
   
}

.fin{
   display: flexbox;
   justify-content: flex-start;
   padding-top: 20px;
   padding-bottom: 5px;
   padding-right: 45px;
   
  
}
}

@media screen and (max-width: 600px){
    header{
        width: 100%;
        height: 100vh;
        background: url(https://images.unsplash.com/photo-1555252333-9f8e92e65df9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 600px;
        float: left; 
        width: 600px; 
        height: 400px;
        margin-right: 1em; 
    
    }
    .cbz{
        display: flex;
        flex-direction: column;
       
        height: 150px;
        padding: 5px 10%;
        background-color: #ffe1ee;
    }
    .cbz.logo{
        height: 60px;
        width: auto;
           
    }
    .logme {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        
    }
    nav ul li {
        display: flex;
        flex-direction: column;
        list-style: none; 
     
    }
    
    nav ul li a {
        display: flex;
        flex-direction: column;
        font-family:Georgia, 'Times New Roman', Times, serif; 
        font-size: 15px;
        color: #646064;
        text-decoration: none;
        align-items: self-start;
    }
    
    h1{
        font-family: 'Gasterye Bold', sans-serif;
        font-size: 100px;
        color: #00b0ff;
        text-align: center;
        text-shadow: rgb(10, 10, 10) 2px 2px 3px;
    }
    h1:hover{
        color: #ff6961;
    
    }
    .btn{
        width: 75px;
        display: block;
        background-color:#00b0ff;
        text-decoration: none;
        color:#9bfae0;
        border-radius: 10px;
        padding: 10px 0;
        text-align: center;
        margin: 0 auto;
        font-size: 11px;
        margin-top: 20px;
        
    }
    .btn:hover{
        
        background-color: #ff6961;
        color: blanchedalmond;
       
       }
       .sec1 {
        display: flexbox;
         width: 600px;
         height: 50vh;
         max-width: 600px;
         float: left; 
         width: 600px; 
         height: 400px;
        
     }
     .derecha{
         background: url(https://images.unsplash.com/photo-1582486225644-aeacf6aa0b1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
         background-size: cover;
         background-position: center;
         max-width: 800px;
         float: left; 
         width: 300px; 
         height: 400px;
     
     }  
     .letra1 {
         color: #ff97d9;
         font-size: 35px ;
         padding-left: 10px;
         
     }
     h2{
    
        font-size: 35px;
        width: 100%;
        margin: auto;
        padding-top: 10px;
        margin-bottom: 10px;
        color: #2196f3;
    }
    h3{
        margin: center;
        margin-left: 30px;
        color: #2196f3;
        font-size: 20px;
        
       
    }
    .text{
        font-size: 12px;
        line-height: 20px;
        width: 100%;
        margin: 0 auto;
        text-align: justify;
        padding: 25px;
        
    }
    .bt{
        width: 75px;
        border: 0.5px solid #2196f3;
        padding: 10px;
        text-decoration: none;
        color: #6664ff;
        border-radius: 10px;
        background-color: #fcc0e6;
        font-weight: bold;
        display: inline-block;
        margin-top: 5px;
        font-size: 11px;
    
    }
    .link{
        text-align: center;
    }
    .sec2{
        width:100%;
        height: 20vh;
        background-color:#ffbfb0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 600px;
        float: left; 
        width: 600px; 
        margin-right: 1em; 
    }
    
    .te1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12px;
        color: #f8f5f6;
        padding: 50px;
        text-align: justify;
    }
    .sec3{
        display: flex;
        width:100%;
        height: 100vh;
        background-color: #4afde7;
        background-image: url(https://img.freepik.com/fotos-premium/fondo-infantil-coloridas-nubes-planas_360032-1574.jpg?w=1060);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 600px;
        float: left; 
        width: 600px; 
        height: 400px;
        margin-right: 1em;
        
    }
    .bosito{
        width: 400px;
        height: 250px;
        margin: auto;
    }
    .sec4{
        width:100%;
        height: 20vh;
        background-color:#f79fbe;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        float: left; 
        width: 600px; 
        margin-right: 1em; 
    }
    .sec5{
        width:100%;
        height: 100vh;
        background-color: #b0f6f2;
        background-image: url(https://img.freepik.com/foto-gratis/confeti-estrella-brillante-sobre-fondo-acuarela-pastel-abstracto-colorido_53876-98173.jpg?w=826&t=st=1670892504~exp=1670893104~hmac=36ad50262e92595aab021fa23f227355f83eb3082d21a65bac4eedee2683ce34);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 600px;
        float: left; 
        width: 600px; 
        height: 400px;
        margin-right: 1em; 
    }
    p{
        text-align: center;
        font-size: 15px;
    }
   
    
    .bbjugu{
        width: 400px;
        height: 250px;
        margin: 50px 100px;
        justify-content: center;
    
    }
    .sec6{
        width:100%;
        height: 20vh;
        background-color:#d0bdf6;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        float: left; 
        width: 600px; 
        margin-right: 1em; 
    }
    .galeria{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        margin:0 auto;
        background-color: #ffffec;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        float: left; 
        max-width: 600px;
        width: 600px;
      
    }
    .galeria_container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100vh;
    }
    .galeria_fotos{
        margin: auto;
        min-width: 100px;
        max-width: 1200px;
      
        padding-top: 25px;
        padding-left: 150px;
        display: flex;
    }
    .sec7{
    
        display: flex;
       
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        min-height: 50vh;
        background-color: #ffeff6;
        max-width: 600px;
        float: left; 
        width: 600px; 
        height: 400px;
        margin-right: 1em; 

    }
    .tarjeta {
       background-color: #cff5d6;
       width: 25%;
       height: 4%;
       overflow: hidden;
       display: flex;
       box-shadow: 0 0 32px -16px rgb(10, 10, 10);
       border-radius: 25px;
       min-height: 200px;
       margin: auto;
      margin-top: 10px;
  
       
    }
    .card{
       height: 25%;
    }
    .card_img  {
        object-fit: contain;
       width: 100%;
       height: 100px;
       display: flex;
       margin: 1px;
    }
    .card_titulo{
        margin-top: 55px; 
       text-align: center;
       font-size: 11px;
       
    }
    .btn1 {
       display: inline-block;
       background-color: #fdcae1;
       padding: 5px 3px;
       
       text-decoration: none;
       border-radius: 5%;
       font-size: 11px;
       margin-bottom: 35px;
    }
    footer {
        width: 100%;
        height: 50vh;
        background: url(https://fondosmil.com/fondo/1938.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 600px;
        display: flex;
        float: left; 
        width: 600px; 
        height: 250px;
        margin-right: 1em;
        min-width: 200px;
    }
    
    .redes{
        display: flexbox;
        flex-direction: column;
        
        
    }
    
    .face{
        margin-top: 60px;
        margin-left: 8px;
        margin-bottom: 20px;
        padding: 3px;
        width: 35px;
        height: 35px;
        
    }
    .insta{
        margin-top: 15px;
        margin-left: 8px;
        margin-bottom: 10px;
        padding: 5px;
        width: 35px;
        height: 35px;
    
    }
    .twiter{
        margin-top: 15px ;
        margin-left: 8px;
        margin-bottom: 10px;
        padding: 5px;
        width: 35px;
        height: 35px;
    }
    iframe {
        display: flex;
    }
    .mapa{
       margin: auto;
        width: 150px; 
        height: 100px; 
       
    }
    .fin{
       display: flex;
       justify-content: center;
        margin: auto;
        padding-top: 135px;
      
      
    }
 }
   
    


